*.a
*.app
*.dd
*.dll
*.dylib
*.exe
*.ii
*.la
*.lai
*.lib
*.lock
*.log
*.mod
*.oo
*.out
*.smod
*.so
.gdb_history
.gdbinit
.vimrc
bin
bin/bals2db
bin/date
bin/get_order_hist
bin/goh
bin/json
bin/mkts2db
bin/tao
bin/updb
bittrex.sql
deps.all
etc/*.mk
etc/cppflags
etc/cxxflags
etc/ld_flags
etc/ld_libs
etc/tao.json
etc/tao.json.new
inc/readline/
info/bal.json
info/files.git
info/mkt.json
info/order.json
lib/*.ii
lib/pkgconfig/
log
newkey.new
out
pqxx
share/
tags
tst/bal
tst/date
tst/goal
tst/mkt
tst/order
vimrc
